
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div>
    This is main page about industrial production
    @*<input type="button" class="btn btn-outline-info" value="Register" onclick="location.href = '@Url.Action("Register", "Home")'" />
        <input type="button" class="btn btn-outline-info" value="Login" onclick="location.href = '@Url.Action("Login", "Home")'" />*@
</div>