
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="button" class="btn btn-outline-info" value="Register" onclick="location.href = '@Url.Action("Register", "Home")'" />
        <input type="button" class="btn btn-outline-info" value="Login" onclick="location.href = '@Url.Action("Login", "Home")'" />
    </div>
</body>
</html>
