@model WEB.Models.EditOrderStatusModel

@{
    ViewBag.Title = "Изменение статуса";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<div class="border border-dark rounded" style="margin: 15px; background-color: #f5f5f5;">
    <h4 class="text-center">Редактировать статус заказа</h4>
    @using (Html.BeginForm("Edit", "OrderStatus"))
    {
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name, new
            {
                @class = "form-control",
                @placeholder = @Html.DisplayNameFor(x => x.Name)

            })
            <span>@Html.ValidationMessageFor(x => x.Name)</span>
        </div>
        <div class="text-center" style="margin: 15px">
            <input type="submit" class="btn btn-outline-success" value="Сохранить" />
            <span>
                <input type="button" class="btn btn-outline-danger" Value="Назад" onclick="location.href = '@Url.Action("Index", "Home")'" />
            </span>
        </div>
    }
</div>